---
import Layout from "../layouts/BaseLayout.astro";
import CardPost from "../components/organisms/CardPost.astro";
import Nav from "../components/organisms/Nav.astro";
import CardProduct from "../components/organisms/CardProduct.astro";
import CardStudyCase from "../components/organisms/CardStudyCase.astro";
import LinkText from "../components/atoms/LinkText.astro";

import designSparkLogo from "/logo/design-spark.svg?raw";
import craftingWebLogo from "/logo/crafting-web.svg?raw";

import { getCollection } from "astro:content";

const sortedWritings = (await getCollection("writings"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
let countSortedWritings = sortedWritings.length;

console.log(typeof sortedWritings);
console.log(countSortedWritings);

const sortedStudyCases = (await getCollection("studyCases"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<Layout pageTitle='Afrian EP: Design And Develop Your Web And Mobila App.'>
  <Nav selected='start' />
  <main class='main-narrow-container'>
    <section class='hero'>
      <div class='status-off'>
        <div class='status-label'>
          <div id='box'></div>
          <p>Currently, <span class='font-semibold'>Career Break</span></p>
        </div>
      </div>
      <div class='greetings'>
        <h1 class='h-large font-normal'>Hi, I'm <span class='font-bold'>Afrian</span></h1>
        <h4>UX designer who write code.</h4>
      </div>
      <p class='intro'>
        Navigate to <LinkText linkTo='/study-cases' label='Study Cases' /> to know my design process.
        Visit my <LinkText linkTo='https://dribbble.com/afrianska' label='Dribbble' /> and <LinkText
          linkTo='https://www.behance.net/afrianska/projects'
          label='Behance'
        />
        to see my visual design exploration. Also, I write code especially related to the front-end,
        check my repository at <LinkText linkTo='https://github.com/afrianska' label='GitHub' />.
        Download my <LinkText linkTo='/afrian.pdf' label='Resume' /> for more info about me.
      </p>
    </section>
    <section class='section-home'>
      <div class='title-section'>
        <a href='/writing'>
          <h5>RECENT STUDY CASES</h5>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='M18 8L22 12L18 16'></path><path d='M2 12H22'></path></svg
          >
        </a>
      </div>
      <div class='study-cases-list-home'>
        {
          sortedStudyCases.map((studyCase: any) => (
            <CardStudyCase
              urlTo={studyCase.id}
              title={studyCase.data.title}
              desc={studyCase.data.description}
              urlImg={studyCase.data.image["src"]}
            />
          ))
        }
      </div>
    </section>
    <section class='section-home'>
      <div class='title-section'>
        <a href='/writing'>
          <h5>RECENT WRITINGS</h5>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='M18 8L22 12L18 16'></path><path d='M2 12H22'></path></svg
          >
        </a>
      </div>
      <div class='blog-list-home'>
        {
          sortedWritings.map((writing: any) => {
            let firstIndex = sortedWritings.at(0);
            let isFirstIndex = firstIndex?.id === writing.id ? "animate-ping" : "";

            return (
              <CardPost
                animate={isFirstIndex}
                url={writing.id}
                title={writing.data.title}
                date={writing.data.pubDate}
                desc={writing.data.description}
              />
            );
          })
        }
      </div>
    </section>
    <section class='side-projects'>
      <div class='title-section'>
        <a href='/writing'>
          <h5>SIDE PROJECTS</h5>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='M18 8L22 12L18 16'></path><path d='M2 12H22'></path></svg
          >
        </a>
      </div>
      <div class='product-list'>
        <CardProduct
          productName='Design Spark'
          productLogo={designSparkLogo}
          productDesc='A figma plugin.'
          productUrl='https://www.figma.com/community/plugin/1368099612425678197/design-spark'
        />
        <CardProduct
          productName='Crafting Web'
          productLogo={craftingWebLogo}
          productDesc='A web development.'
          productUrl='https://crafting.web.app/'
        />
      </div>
    </section>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";
  const box = document.getElementById("box");
  const myTimeline = gsap.timeline();

  myTimeline
    .from(box, {
      opacity: 0,
    })
    .to(box, {
      rotation: "-=180",
      repeat: -1,
    });
</script>
