---
import Layout from "../layouts/BaseLayout.astro";
import CardPost from "../components/organisms/CardPost.astro";
import Nav from "../components/organisms/Nav.astro";
import CardProduct from "../components/organisms/CardProduct.astro";

import Link from "../components/atoms/SpecialLink.astro";

import cvIcon from "/svg/file-text.svg?raw";
import dribbbleIcon from "/svg/dribbble.svg?raw";
import behanceIcon from "/svg/behance.svg?raw";
import githubIcon from "/svg/github.svg?raw";
import linkedinIcon from "/svg/linkedin.svg?raw";

import designSparkLogo from "/logo/design-spark.svg?raw";

const allPosts = await Astro.glob("./blog/*.md");
const sortedPosts = allPosts
  .sort((a, b) => {
    return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
  })
  .slice(0, 4);
---

<Layout pageTitle='Afrian EP: Design And Develop Your Web And Mobila App.'>
  <Nav selected='home' />
  <main id='home' class='main-narrow-container'>
    <section class='hero'>
      <div class='status-off'>
        <div class='status-label'>
          <div id='box'></div>
          <p>Currently, <span class='font-semibold'>Career Break</span></p>
        </div>
      </div>
      <div class='greetings'>
        <h1 class='h-large font-normal'>Hi, I'm <span class='font-bold'>Afrian</span></h1>
        <h4>UX designer who write code.</h4>
      </div>
      <div class='links'>
        <Link
          icon={githubIcon}
          linkTo='https://github.com/afrianska'
          title='Repository'
          label='afrianska'
        />
        <Link
          icon={dribbbleIcon}
          linkTo='https://dribbble.com/afrianska'
          title='Design Exploration'
          label='afrianska'
        />
        <Link
          icon={behanceIcon}
          linkTo='https://www.behance.net/afrianska/projects'
          title='Study Case'
          label='afrianska'
        />

        <Link
          icon={linkedinIcon}
          linkTo='https://www.linkedin.com/in/afrian'
          title='LinkedIn'
          label='afrian'
        />
        <Link icon={cvIcon} linkTo='/afrian.pdf' title='Resume' label='afrian.pdf' />
      </div>
    </section>
    <section class='blog-home'>
      <div class='title-section'>
        <h5 class='section-title'>RECENT WRITINGS</h5>
        <a class='btn-link-text' href='/blog'>
          <span>View All</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            ><path d='M18 8L22 12L18 16'></path><path d='M2 12H22'></path></svg
          >
        </a>
      </div>
      <div class='blog-list-home'>
        {
          sortedPosts.map((post) => (
            <CardPost
              url={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              desc={post.frontmatter.description}
            />
          ))
        }
      </div>
    </section>
    <section id='products' class='products'>
      <h5 class='section-title'>PRODUCTS</h5>
      <div class='product-list'>
        <CardProduct
          productName='Design Spark'
          productLogo={designSparkLogo}
          productDesc='A figma plugin.'
          productUrl='https://www.figma.com/community/plugin/1368099612425678197/design-spark'
        />
      </div>
    </section>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";
  const box = document.getElementById("box");
  const myTimeline = gsap.timeline();

  myTimeline
    .from(box, {
      opacity: 0,
    })
    .to(box, {
      rotation: "-=180",
      repeat: -1,
    });
</script>
