---
import HomeLayout from "../layouts/HomeLayout.astro";
import CardFAQ from "../components/CardFAQ.astro";
import BlogPostHome from "../components/BlogPostHome.astro";

import globeIcon from "/svg/disabled/globe.svg?raw";
import phoneIcon from "/svg/disabled/smartphone.svg?raw";
import monitorIcon from "/svg/disabled/monitor.svg?raw";
import bagIcon from "/svg/disabled/briefcase.svg?raw";
import fileIcon from "/svg/disabled/scroll-text.svg?raw";
import cvIcon from "/svg/file-text.svg?raw";
import dribbbleIcon from "/svg/dribbble.svg?raw";
import githubIcon from "/svg/github.svg?raw";
import linkedinIcon from "/svg/linkedin.svg?raw";
import twitterIcon from "/svg/twitter.svg?raw";
import instagramIcon from "/svg/instagram.svg?raw";

import designSparkLogo from "/logo/design-spark.svg?raw";

const allPosts = await Astro.glob("./blog/*.md");
const sortedPosts = allPosts
  .sort((a, b) => {
    return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
  })
  .slice(0, 4);
---

<HomeLayout pageTitle='Afrian EP: Design And Develop Your Web And Mobila App.'>
  <main id='home' class='home-body'>
    <section class='hero'>
      <div class='welcome'>
        <div class='avatar'>
          <img src='/avatar.png' alt='afrian photo' />
        </div>
        <div class='greetings'>
          <h1>Hi, I'm <span class='font-bold'>Afrian EP</span></h1>
          <h3>A designer who write code.</h3>
        </div>
      </div>
      <div class='links'>
        <div class='links-left'>
          <a class='btn-icon' href='https://dribbble.com/afrianska' target='_blank'>
            <Fragment set:html={dribbbleIcon} />
          </a>
          <a class='btn-icon' href='https://github.com/afrianska' target='_blank'>
            <Fragment set:html={githubIcon} />
          </a>
          <a class='btn-icon' href='https://www.linkedin.com/in/afrian/' target='_blank'>
            <Fragment set:html={linkedinIcon} />
          </a>
          <a class='btn-icon' href='https://x.com/afrianska' target='_blank'>
            <Fragment set:html={twitterIcon} />
          </a>
          <a class='btn-icon' href='https://www.instagram.com/afrianep/' target='_blank'>
            <Fragment set:html={instagramIcon} />
          </a>
        </div>
        <div class='links-right'>
          <a class='btn-icon-text' href='/afrian-resume.pdf' target='_blank'>
            <span>Resume</span>
            <Fragment set:html={cvIcon} />
          </a>
        </div>
      </div>
    </section>
    <section class='projects'>
      <div class='card'>
        <div
          class='thumbnail'
          style='background-image: url(https://res.cloudinary.com/melesat/image/upload/v1666946419/visualo_r9jti8.png);'
        >
        </div>
        <div class='detail'>
          <div class='title-desc'>
            <h5>Alura</h5>
            <p>Electronic part company.</p>
          </div>
          <div class='scope-visit-link'>
            <div class='scope'>
              <Fragment set:html={globeIcon} />
              <Fragment set:html={phoneIcon} />
              <Fragment set:html={bagIcon} />
            </div>
            <a class='btn-text-secondary' href='/'>Visit</a>
          </div>
        </div>
      </div>
      <div class='card'>
        <div
          class='thumbnail'
          style='background-image: url(https://res.cloudinary.com/melesat/image/upload/v1666947386/lorikon_irttld.png);'
        >
        </div>
        <div class='detail'>
          <div class='title-desc'>
            <h5>Alura</h5>
            <p>Electronic part company.</p>
          </div>
          <div class='scope-visit-link'>
            <div class='scope'>
              <Fragment set:html={globeIcon} />
              <Fragment set:html={phoneIcon} />
              <Fragment set:html={fileIcon} />
            </div>
            <a class='btn-text-secondary' href=''>Visit</a>
          </div>
        </div>
      </div>
      <div class='card'>
        <div
          class='thumbnail'
          style='background-image: url(https://res.cloudinary.com/melesat/image/upload/v1666946422/lumra_e8ew9w.png);'
        >
        </div>
        <div class='detail'>
          <div class='title-desc'>
            <h5>Alura</h5>
            <p>Electronic part company.</p>
          </div>
          <div class='scope-visit-link'>
            <div class='scope'>
              <Fragment set:html={monitorIcon} />
              <Fragment set:html={phoneIcon} />
              <Fragment set:html={bagIcon} />
            </div>
            <a class='btn-text-secondary' href=''>Visit</a>
          </div>
        </div>
      </div>
      <div class='card-interested'>
        <div class='desc'>
          <h3>Interested In Collaborating?</h3>
          <p>I’m crafting and developing a better experience for your web & mobile app.</p>
        </div>
        <a class='btn-text' href='/contact'>BOOK A CALL NOW!</a>
      </div>
    </section>
    <section class='blog-home'>
      <h5 class='section-title'>RECENT WRITING</h5>
      <div class='blog-list-home'>
        {
          sortedPosts.map((post) => (
            <BlogPostHome
              url={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              desc={post.frontmatter.description}
            />
          ))
        }
      </div>
      <a class='btn-text-secondary' href='/blog'>SEE ALL POST</a>
    </section>
    <section id='products' class='products'>
      <h5 class='section-title'>PERSONAL PRODUCTS</h5>
      <div class='product-list'>
        <div class='card-product-item'>
          <Fragment set:html={designSparkLogo} />
          <div class='desc'>
            <h4>Design Spark</h4>
            <p>A figma plugin</p>
          </div>
        </div>
      </div>
    </section>
    <section class='faq'>
      <h5 class='section-title'>Frequently Asked Questions</h5>
      <div class='faq-list'>
        <CardFAQ
          q='What services do you offer?'
          a=`Currently, I'm offering services: UI/UX design, web development, brand identity, icon design.`
        />
        <CardFAQ
          q='How long does it usually take to finish a project?'
          a='Depending on the kind of project and how complex it is. For example, UI/UX design for a web with 5 pages could be finished in 1 week. But again, depends on how complex it is.'
        />
        <CardFAQ
          q='Can I collaborate on just one kind of project from all your service offers?'
          a='Yes, you can. Choose only what you need either UI/UX design, web development, etc'
        />
        <CardFAQ
          q='What do I need to have ready before starting a project with you?'
          a='You can book a call with me for free and conduct a consultation session before we decide whether our collaboration is needed.'
        />
        <CardFAQ
          q='Do you offer support or updates after a project is completed, and how does that work?'
          a=`It's depends on the contract deal, after everything in the contract finished you can re-hire me again.`
        />
      </div>
    </section>
  </main>
</HomeLayout>
