---
import Layout from "./BaseLayout.astro";
import HeaderBlog from "../components/organisms/HeaderBlog.astro";
import Nav from "../components/organisms/Nav.astro";

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;

function formatDate(dateString: any) {
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
  }).format(date);
}
const tags: any = frontmatter.tags;
---

<Layout pageTitle={frontmatter.title}>
  <Nav selected='blog' />
  <main id='home' class='main-narrow-container'>
    <HeaderBlog />
    <section class='blog-content h-full'>
      <div class='flex flex-col gap-4'>
        <div class='thumbnail' style=`background-image: url(${frontmatter.image.url});`></div>
        <h1 class='capitalize'>{frontmatter.title}</h1>
        <div class='flex flex-row gap-2 border-y py-3'>
          <p>{minutesRead}</p>
          <p>•</p>
          <p>{formatDate(frontmatter.pubDate)}</p>
        </div>
      </div>
      <div class='content'>
        <slot />
      </div>
      <div class='tags flex flex-col gap-3'>
        <h5 class='font-medium'>Tags</h5>
        <div class='flex flex-wrap gap-3'>
          {tags.map((tag: any) => <p class='font-light text-neutral-500'>#{tag}</p>)}
        </div>
      </div>
    </section>
  </main>
</Layout>
