---
import Layout from "../../layouts/BaseLayout.astro";
import HeaderPage from "../../components/organisms/HeaderPage.astro";
import CardPost from "../../components/organisms/CardPost.astro";
import Nav from "../../components/organisms/Nav.astro";

import { getCollection } from "astro:content";
const writings = await getCollection("writings");

const sortedWritings = await writings.sort((a: any, b: any) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});
---

<Layout pageTitle='Afrian EP: Writing about design, software development, lifestyle, etc.'>
  <Nav selected='writing' />
  <main class='main-narrow-container'>
    <HeaderPage
      titleHeader=`Writings`
      descHeader=`I write about what I've been working on and things I'm still trying to figure out related to
      problem-solving, design, software development, lifestyle, etc.`
      linkHeaderTo=`/writing`
    />
    <section class='blog-list'>
      {
        sortedWritings.map((writing: any) => {
          let firstIndex = sortedWritings.at(0);
          let isFirstIndex = firstIndex?.id === writing.id ? "animate-ping" : "";

          return (
            <CardPost
              animate={isFirstIndex}
              url={writing.id}
              title={writing.data.title}
              date={writing.data.pubDate}
              desc={writing.data.description}
            />
          );
        })
      }
    </section>
  </main>
</Layout>
